#barLogo {
    max-width: 160px;
    vertical-align: text-top;
    padding: 0 0 0 10px;
}

#table-buttons {
    text-align: right;
    padding: 5px 0;
    border: solid 1px #ccc;
    margin: 10px 0;
}

#table-buttons a {
    margin: 0 5px;
}

.dataTable td,
.dataTable th {
    font-size: 12px;
}

.dataTable .dateRange {
    font-size: 11px;
    color: #fff;
    background: rgba(0, 0, 0, .2);
    padding: 1px 4px 2px;
    border-radius: 6px;
    margin: 0 0 0 2px;
}

.dataTable .dateRange::after {
    content: "d";
}

.dataTable th.c0,
.dataTable td.c0 {
    background: rgba(200, 255, 200, .20);
}

.dataTable th.c1,
.dataTable td.c1 {
    background: rgba(255, 230, 180, .20);
}

.dataTable th.c2,
.dataTable td.c2 {
    background: rgba(200, 200, 255, .20);
}

.dataTable th.c3,
.dataTable td.c3 {
    background: rgba(255, 180, 180, .20);
}

.dataTable th {
    padding-right: 1.1rem;
}

.dataTable tr.selected {
    background-color: #85b6d2 !important;
}

input[type="text"][disabled] {
    background: #f0f0f0;
}

ul.pagination li a,
ul.pagination li {
    height: 1.7rem;
}

.buttons-columnVisibility {
    background: #bbb;
    color: #fff;
}

.buttons-columnVisibility.active {
    background: #e7e7e7;
    color: #555;
}

.buttons-columnVisibility:hover {
    background: #bbb;
    color: #eee;
}

.button.iconButton i {
    position: absolute;
    font-size: 22px;
    margin-top: -5px;
    margin-left: -26px;
}

.button.iconButton {
    padding-left: 38px;
}

.dropdown-pane {
    background-color: #aaa;
    border: none;
}

#errorContainer .callout p {
    margin: 3px 0 5px 10px;
}

.timeAdjustment {
    font-weight: bold;
}

.exportCsvButton {
    color: white;
}

td.details-control {
    cursor: pointer;
}

tr.shown td.details-control {
    cursor: pointer;
}

button.button-expandable {
    border-radius: 50%;
    border: black solid 2px;
    color: #85b6d2;
    padding: 2px;
}

i.fi-arrows-expand {
    border-radius: 50%;
    border: black solid 2px;
    color: #85b6d2;
    padding: 2px;
}

div.dt-buttons {
    float: right;
}