.dataTable td,
.dataTable th {
    font-size: 12px;
}

.dataTable .dateRange {
    font-size: 11px;
    color: #fff;
    background: rgba(0, 0, 0, .2);
    padding: 1px 4px 2px;
    border-radius: 6px;
    margin: 0 0 0 2px;
}

.dataTable .dateRange::after {
    content: "d";
}

.dataTable th.c0,
.dataTable td.c0 {
    background: rgba(200, 255, 200, .20);
}

.dataTable th.c1,
.dataTable td.c1 {
    background: rgba(255, 230, 180, .20);
}

.dataTable th.c2,
.dataTable td.c2 {
    background: rgba(200, 200, 255, .20);
}

.dataTable th.c3,
.dataTable td.c3 {
    background: rgba(255, 180, 180, .20);
}

.dataTable th {
    padding-right: 1.1rem;
}

.dataTable tr.selected {
    background-color: #85b6d2 !important;
}

input[type="text"][disabled] {
    background: #f0f0f0;
}

ul.pagination li a,
ul.pagination li {
    height: 1.7rem;
}

.buttons-columnVisibility {
    background: #bbb;
    color: #fff;
}

.buttons-columnVisibility.active {
    background: #e7e7e7;
    color: #555;
}

.buttons-columnVisibility:hover {
    background: #bbb;
    color: #eee;
}

.button.iconButton i {
    position: absolute;
    font-size: 22px;
    margin-top: -5px;
    margin-left: -26px;
}

.button.iconButton {
    padding-left: 38px;
}

.dropdown-pane {
    background-color: #aaa;
    border: none;
}

#errorContainer .callout p {
    margin: 3px 0 5px 10px;
}

.tableDate,
.tableDate tbody {
    border: none;
}

.tableDate td {
    padding: 0;
}

.tableDate label {
    padding-right: 20px;
}

button.radius,
.button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.sm .btn-label {
    left: -10px;
    border-radius: 2px 0 0 2px;
    padding-top: 0.39rem;
    padding-right: 0.45rem;
    padding-bottom: 0.41rem;
    padding-left: 0.45rem;
}

.sm {
    font-size: 0.8325rem;
    padding-right: 0.65rem;
    padding-left: 0.65rem;
}

.dateCol {
    white-space: nowrap;
}

.button-group {
    float: right;
}

.button-group .button {
    margin: 0;
    margin-right: 5px;
    /* margin-bottom: 1px; */
    font-size: 0.9rem;
}

.group {
    display: none;
}

#date-pickers {
    margin: 0;
    padding: 0;
}

#start-date {
    display: inline;
    float: left;
    width: 50%;
}

#end-date {
    display: inline;
    float: left;
    width: 50%;
}

button.showSummary {
    background-color: #2ba6cb;
    display: none;
    padding: 5px;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.dateCol {
    white-space: nowrap;
}


i.fi-plus:hover {
    background-color: transparent;
    transform: rotate(90deg);
    cursor: pointer;
    box-shadow: none;
}